/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  font-family: 'DM Sans', sans-serif;
  color: #2980b9;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}


/* Navigation */

.logo {
  font-size: 25px;
  font-weight: 700;
}

.navigation {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf0f1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;;
}

ul li {
  display: inline-block;
  padding: 5px 20px;
}

ul li a {
  color: #e74c3c;
  text-decoration: none;
  font-weight: 500;
}

ul li a:hover {
  color: #27ae60;
}


/* Header */

.header {
  border-bottom: 2px solid #34495e;
}

.song-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artist-title {
  font-size: 2.5em;
  line-height: 1;
  margin: 0;
  color: #34495e;
}

.song-title {
  color: #e74c3c;
}

.album-info {
  color: #2c3e50;
  margin: 0;
}
